.culture {
  display: grid;
}

.culture__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.1;
  margin: 0;
}

.culture__contacts {
  display: flex;
  gap: 24px;
  justify-self: center;
  align-self: end;
}

.culture__contact {
  height: 23px;
}

.culture__contact_instagram {
  width: 23px;
  background-image: url(../../images/instagram.svg);
}

.culture__contact_phone {
  width: 23px;
  background-image: url(../../images/phone.svg);
}

.culture__contact_email {
  width: 29px;background-image: url(../../images/mail.svg);
}